body{
  margin: 0 auto;
  width: 65%;
  padding-left: 5%;
  height: 100%;
}

.sidenav {
  height:100%; 
  width: 17%; 
  z-index: 1;
  position: fixed; 
  top: 0; 
  left: 13%;
  background-color: rgb(136, 136, 132); 
  overflow-x: hidden; 
  overflow-y: hidden;
  padding-top: 20px;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
  
}

.main {
  margin-left:15%;
  padding: 0px 10px;
  height: 755px;

  text-align: center;
  margin-top: -20px;
  padding-top: 20px;
}

h4{
font-size: 13px;
}

main{
  height: 100%;
}

